#lblFiltro{
    background-color: #0369D9;
    color: white;
    padding: 8px;
    width: 100px;
    text-align: center;
    margin-top: 16px;
    border-radius: 5px;
    margin-left: 7%;
    margin-bottom: -25px;
}

#filtro{
    border: 1px solid gray;
    padding: 30px;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

#dadosUsuario {
    color: white;
}

#relatorio{
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 50px;
    background-color:white;
    color: black;
    text-align: center;
    border-style: double;
}

#tabelaRelatorio {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 50px;
    background-color:white;
    color: black;
    text-align: center;
}

body {
    background-image: url('Página Inicial - v3.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    margin-top: 80px;
    margin-bottom: 30px;
}

.camposTabela {
    
    color: white;
}
