body {
    background-image: url("Página Inicial - v3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold; 
}

h1 {
    color: white;
    margin-top: 80px;
    margin-bottom: 20px;
}

h3 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}